body {
    background-color: #F5F2ED;
    margin: 0;
    padding: 0;

}
.navigation li a {
    color: #343031;
}
#centerpage{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
}
.titel{
    position: absolute;
    left:77vh;
    top:12vh;
    font-family: ExtraBold;
    font-size: 23vh;
    color: #8C8C73;
}
.image{
    width: 65vmin;
    height: 75vmin;
    object-fit: cover;

}
#INT{
    display: flex;
    object-position: center;
}
#text{   margin-left: 20vmin;
    padding-top: 30vh;

    width: 50vmin;
    font-family: text;
}
@media screen and (max-aspect-ratio: 1/1 ), (max-width: 800px) {

    .navigation{
        display: none;
        align-items: center;
    }
    .titel{
        margin-top:10vh;
    }
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: -1; /* Moves the logo to the top */
        margin-bottom: 10px; /* Adjust as needed */
        text-align: center;
        margin: 0 auto;
    }

    .navigation {
        flex-direction: column;
        align-items: center;

    }
    #INT{
        display: flex;
        flex-direction: column;
        object-position: center;
    }
    #text{   margin-left: 0vmin;
        padding-top: 10vh;

        width: 50vmin;

    }
    .titel{
        padding: 0 0;
        font-size: 16.1vw;
        justify-content: center;
        margin-top: 100px;

    }
}

