body{
    background-color: #ffffff;
    background-color: #f2f2f2;
    background-color: #E6E6E6;
    background-color: #d9d9d9;
    background-color: #666666 ;
    background-color: #4d4d4d ;
    background-color: #262626;
    background-color: #0e0e0c;
    background-color: #fafaf9;
    background-color: #e8e8e3;
    background-color: #DDDDD5;
    background-color: #D1D1C7;
    background-color: #AEAE9D;
    background-color: #8C8C73;

}