body {
    overflow: hidden;
    background-color: #F5F2ED;
}
.navigation li a {
    color: #343031;
}
.container{
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
   position: relative;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 39.7%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
}



#image-track > .container > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}


.centered {
    position: absolute;
    top: 50%; /* -- Position div at vertical center -- */
    transform: translate(-50%, -50%); /* -- Center div exactly -- */
    font-family: regular;
    text-decoration: none;
    font-size: 2vw;
    left: 50%;
}
