body {
    overflow: hidden;
}
.dot {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: red;
    border-radius: 50%;
}

#image-track {
    display: flex;
    gap: 4vmin;
    position: absolute;
    left: 39.7%;
    top: 50%;
    transform: translate(0%, -50%);
    user-select: none; /* -- Prevent image highlighting -- */
}



#image-track > .image {
    width: 40vmin;
    height: 56vmin;
    object-fit: cover;
    object-position: 100% center;
}


.centered {
    position: absolute;
    top: 50%; /* -- Position div at vertical center -- */
    transform: translate(-50%, -50%); /* -- Center div exactly -- */
    font-family: regular;
    text-decoration: none;
    background: none;
    font-size: 3em;
    text-align: center; /* -- Center text horizontally -- */
    padding: 10px; /* -- Add some padding -- */
}

#c1{
    left: 7.7%; /* -- Position div at horizontal center -- */
}
#c2{
    left: 24.56%; /* -- Position div at horizontal center -- */
}
#c3{
    left: 41.5%; /* -- Position div at horizontal center -- */
}
#c4{
    left: 58.5%; /* -- Position div at horizontal center -- */
}
#c5{
    left: 75.4%; /* -- Position div at horizontal center -- */
}
#c6{
    left: 92.3%; /* -- Position div at horizontal center -- */
}