*{

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: none;

}
header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 6%;
    z-index: 2;
    position: absolute;
    width: 100%;
}
.logo{
    font-family: bold;
    color: #AEAE9D;
    font-size: 3em;
    margin-right: auto;

}



li, a {
    text-decoration: none;
    color: white;

}
.navigation {
    list-style: none;
}
.navigation li {
    display: inline-block;
    padding: 0 20px;
}
.navigation li:nth-child(4){
    padding: 0 0;
    padding-left: 20px;
}
.navigation li a {
    transition: all 0.3s ease 0s;
    background: none;
    text-decoration: none;
    font-size: 1.5em;
    color: white;
    font-family: text;
}

.navigation li a:hover {
    color: #8C8C73;
}

@media all and (max-aspect-ratio: 1/1) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: -1; /* Moves the logo to the top */
        margin-bottom: 10px; /* Adjust as needed */
        text-align: center;
        margin: 0 auto;
    }
    .titel{
        font-family: bold;

    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .navigation li {
        margin: 10px 0; /* Adjust as needed */
    }
    .navigation li:nth-child(4){
        padding: 0 20px;

    }
}
@media all and (max-width: 800px) {
    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: -1; /* Moves the logo to the top */
        margin-bottom: 10px; /* Adjust as needed */
        text-align: center;
        margin: 0 auto;
    }
    .titel{
        font-family: bold;

    }

    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        list-style: none;
        padding: 0;
    }

    .navigation li {
        margin: 10px 0; /* Adjust as needed */
    }
    .navigation li:nth-child(4){
        padding: 0 20px;

    }
}

@media all and (max-aspect-ratio: 1/1) {
    .navigation li a{
        font-size: 7vw;
    }
    .logo{
        font-size: 11vw;
    }

}


body {
        background-color: #F5F2ED;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .navigation li a {
    color: #343031;
    }
.full-width-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 72px;
    padding-right: 72px;
}
    input{
        display: none;
    }
    .menu-icon {
        display: none; /* Hide by default */
    }

.titel{
    padding: 0 0;
    font-family: slim;
    font-size: 16.1vw;
    justify-content: center;
    padding-top: 100px;
    margin-top:10vh;

}
.image-grid {

    --gap: 6vw;
    --num-cols: 4;
    --row-height: 22vw;

    box-sizing: border-box;
    padding-bottom:  var(--gap);
    padding-left:  var(--gap);
    padding-right:  var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>div {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
    overflow: hidden;
}
    .containerforimage img {
object-fit:cover ;
        height: 100%;
        width: 100%;}

.image-grid-col-2 {
    grid-column: span 2;
}
.image-grid-col-3 {
    grid-column: span 3;
}
.image-grid-row-2 {
    grid-row: span 2;
}
    .image-grid-col-4 {
        grid-column: span 4;
    }

    .image-grid-row-4 {
        grid-row: span 4;
    }



.centered {
    position: absolute;
    font-family: regular;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Adjust text color as needed */
    font-size: 3rem; /* Adjust font size as needed */
    text-align: center;
    /* Add any additional styling you want for the text */
}

/* Media Queries for Responsive Design */


@media screen and (max-aspect-ratio: 3/4 ) {
    .image-grid {
        --num-cols: 2;
        --row-height: 50vw;
    }
    .image-grid-col-4 {
        grid-column: span 2;
    }

    .image-grid-row-4 {
        grid-row: span 2;
    }
}
    @media screen and (max-aspect-ratio: 1/1) {


        .navigation{
            display: none;
        }

        .menu-icon {
            display: flex;
            cursor: pointer;
            width: 20px;

        }

        a:hover{
            background-color: #F5F2ED;
        }

        #menu-toggle {
            display: none; /* Hide checkbox */
        }

        /* Styles for the dropdown menu */
        #menu-toggle:checked + label + .navigation {
            display: flex;
            flex-direction: column;
            text-align: center;
            position: relative;

            width: 100%;
            background-color: #F5F2ED;
            padding-bottom: 30px;
            border-bottom: solid;
            border-width: 1.5px;
            transition: all 0.3s ease;
        }

        #menu-toggle:checked + label + .navigation a {

            display: inline-flex;
        }
    }
/* Anything udner 1024px */
@media screen and (max-aspect-ratio: 1/1 ), (max-width: 800px) {

    .navigation{
        display: none;
        align-items: center;
    }

    header {
        flex-direction: column;
        align-items: center;
    }

    .logo {
        order: -1; /* Moves the logo to the top */
        margin-bottom: 10px; /* Adjust as needed */
        text-align: center;
        margin: 0 auto;
    }

    .navigation {
        flex-direction: column;
        align-items: center;

    }



}
