body {
    background-color: #F5F2ED;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.navigation li a {
    color: #343031;
}
.full-width-container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 72px;
    padding-right: 72px;
}
.titel{
    padding: 0 0;
    font-family: slim;
    font-size: 16.1vw;
    justify-content: center;
    margin-top: 100px;

}
.image-grid {

    --gap: 6vw;
    --num-cols: 4;
    --row-height: 22vw;

    box-sizing: border-box;
    padding-bottom:  var(--gap);
    padding-left:  var(--gap);
    padding-right:  var(--gap);

    display: grid;
    grid-template-columns: repeat(var(--num-cols), 1fr);
    grid-auto-rows: var(--row-height);
    gap: var(--gap);
}

.image-grid>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-grid-col-2 {
    grid-column: span 2;
}

.image-grid-row-2 {
    grid-row: span 2;
}

/* Anything udner 1024px */
@media screen and (max-aspect-ratio: 2/3 ) {
    .image-grid {
        --num-cols: 2;
        --row-height: 50vw;
    }
    .navigation{
        display: none;
    }
    .titel{
        margin-top:10vh;
    }
}